@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Chalkboard SE', cursive;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 1px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 1px;
  border-radius: 10px
}
::-webkit-scrollbar {
  height: 10px;
  /* height of horizontal scrollbar ← You're missing this */
  width: 10px;
  /* width of vertical scrollbar */
  border: 1px solid red;
  border-radius: 10px
}
/* Toggle A */
input:checked ~ .dot {
  transform: translateX(100%);
  background-color: #fff;
}
/* Toggle B */
input:checked ~ .dot {
  transform: translateX(100%);
  background-color: #fff;
}


.text-elipsis{
  overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
}


.bg-huzz-green{
  background-color: #07a58e
}
.bg-huzz-green-dark{
  background-color: #047363
}
.bg-huzz-green-light{
  background-color: #38B7A4
}

.text-huzz-green{
  color: #07a58e
}
.text-huzz-black{
  color: #333
}